<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/plugins/system/nnframework/fields">
	<fieldset name="options" label="JOPTIONS">
		<field name="@loadlanguage" type="nn_loadlanguage" extension="com_contenttemplater" />
		<field name="@block_button_a" type="nn_block" start="1" label="NN_SETTINGS_EDITOR_BUTTON" />
		<field name="enable_frontend" type="radio" class="btn-group" default="1" label="NN_ENABLE_IN_FRONTEND" description="NN_ENABLE_IN_FRONTEND_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">NN_ONLY</option>
		</field>
		<field name="button_text" type="text" default="Content Template" size="40" label="NN_BUTTON_TEXT" description="NN_BUTTON_TEXT_DESC" />
		<field name="button_icon" type="radio" class="btn-group" default="1" label="NN_SHOW_ICON" description="NN_SHOW_ICON_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_confirm" type="radio" class="btn-group" default="0" label="CT_ASK_BEFORE_INSERTING_TEMPLATE"
			   description="CT_ASK_BEFORE_INSERTING_TEMPLATE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="orderby" type="radio" default="" label="CT_ORDERBY" description="CT_ORDERBY_DESC">
			<option value="">JFIELD_ORDERING_LABEL</option>
			<option value="name">JGLOBAL_TITLE</option>
		</field>
		<field name="open_in_modal" type="radio" class="btn-group" default="2" label="CT_OPEN_IN_MODAL" description="CT_OPEN_IN_MODAL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>
		<field name="@toggler_button_select_1a" type="nn_toggler" param="open_in_modal" value="2" />
		<field name="switch_to_modal" type="text" default="5" size="4" label="CT_SWITCH_TO_MODAL" description="CT_SWITCH_TO_MODAL_DESC" />
		<field name="@toggler_button_select_1b" type="nn_toggler" />
		<field name="@toggler_button_select_2a" type="nn_toggler" param="open_in_modal" value="0,2" />
		<field name="show_list_below" type="radio" class="btn-group" default="0" label="CT_LIST_BELOW" description="CT_LIST_BELOW_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@toggler_button_select_2b" type="nn_toggler" />
		<field name="@block_button_b" type="nn_block" end="1" />

		<field name="@block_load_a" type="nn_block" start="1" label="CT_AUTO_LOAD" />
		<field name="url_delay" type="text" default="1" size="4" label="CT_LOAD_DELAY" description="CT_LOAD_DELAY_DESC" />
		<field name="@block_load_b" type="nn_block" end="1" />

		<field name="@block_other_a" type="nn_block" start="1" label="NN_OTHER_SETTINGS" />
		<field name="contact_table" type="text" default="contact_details" label="CT_CONTACT_TABLE" description="CT_CONTACT_TABLE_DESC" />
		<field name="show_update_notification" type="radio" class="btn-group" default="1" label="NN_SHOW_UPDATE_NOTIFICATION"
			   description="NN_SHOW_UPDATE_NOTIFICATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_copyright" type="radio" class="btn-group" default="1" label="NN_SHOW_COPYRIGHT" description="NN_SHOW_COPYRIGHT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@block_other_b" type="nn_block" end="1" />
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" filter="rules" validate="rules"
			   component="com_contenttemplater" section="component" />
	</fieldset>
</config>
