<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/plugins/system/nnframework/fields">
	<fieldset name="default" label="AMM_DEFAULT_SETTINGS">
		<field name="@loadlanguage" type="nn_loadlanguage" extension="com_modules" />
		<field name="list_title" type="list" default="0" label="AMM_LIST_TITLE" description="AMM_LIST_TITLE_DESC">
			<option value="0">AMM_ADVANCED_MODULE_MANAGER</option>
			<option value="1">COM_MODULES_MANAGER_MODULES</option>
		</field>
		<field name="default_ordering" type="list" default="a.title ASC" label="NN_DEFAULT_ORDERING" description="NN_DEFAULT_ORDERING_DESC">
			<option value="ordering ASC">NN_HEADING_ORDERING_ASC</option>
			<option value="ordering DESC">NN_HEADING_ORDERING_DESC</option>
			<option value="a.published ASC">NN_HEADING_STATUS_ASC</option>
			<option value="a.published DESC">NN_HEADING_STATUS_DESC</option>
			<option value="color ASC">NN_HEADING_COLOR_ASC</option>
			<option value="color DESC">NN_HEADING_COLOR_DESC</option>
			<option value="a.title ASC">NN_HEADING_TITLE_ASC</option>
			<option value="a.title DESC">NN_HEADING_TITLE_DESC</option>
			<option value="position ASC">NN_HEADING_POSITION_ASC</option>
			<option value="position DESC">NN_HEADING_POSITION_DESC</option>
			<option value="name ASC">NN_HEADING_TYPE_ASC</option>
			<option value="name DESC">NN_HEADING_TYPE_DESC</option>
			<option value="pages ASC">NN_HEADING_PAGES_ASC</option>
			<option value="pages DESC">NN_HEADING_PAGES_DESC</option>
			<option value="a.access ASC">NN_HEADING_ACCESS_ASC</option>
			<option value="a.access DESC">NN_HEADING_ACCESS_DESC</option>
			<option value="language ASC">NN_HEADING_LANGUAGE_ASC</option>
			<option value="language DESC">NN_HEADING_LANGUAGE_DESC</option>
			<option value="a.id ASC">NN_HEADING_ID_ASC</option>
			<option value="a.id DESC">NN_HEADING_ID_DESC</option>
		</field>
		<field name="default_state" type="list" class="chzn-color-state" default="1" label="AMM_DEFAULT_STATE" description="AMM_DEFAULT_STATE_DESC">
			<option value="0">JUNPUBLISHED</option>
			<option value="1">JPUBLISHED</option>
		</field>
		<field name="default_menu_assignment" type="radio" class="btn-group btn-group-yesno btn-group-yesno-reverse" default="0"
			   label="AMM_DEFAULT_MENU_ASSIGNMENT" description="AMM_DEFAULT_MENU_ASSIGNMENT_DESC">
			<option value="1">JNONE</option>
			<option value="0">JALL</option>
		</field>
		<field name="show_color" type="radio" class="btn-group btn-group-yesno" default="1" label="AMM_SHOW_COLOR" description="AMM_SHOW_COLOR_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@toggler_default_a" type="nn_toggler" param="show_color" value="1" />
		<field name="main_colors" type="textarea" rows="4"
			   default="none,#049cdb,#46a546,#9d261d,#ffc40d,#f89406,#c3325f,#7a43b6,#ffffff,#999999,#555555,#000000" label="AMM_COLORS"
			   description="AMM_COLORS_DESC" />
		<field name="@toggler_default_b" type="nn_toggler" />
		<field name="show_hideempty" type="radio" class="btn-group btn-group-yesno" default="1" label="AMM_SHOW_HIDE_IF_EMPTY"
			   description="AMM_SHOW_HIDE_IF_EMPTY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_note" type="list" default="2" label="AMM_SHOW_NOTE" description="AMM_SHOW_NOTE_DESC">
			<option value="0">JNO</option>
			<option value="1">NN_TOOLTIP</option>
			<option value="2">AMM_NAME_COLUMN</option>
			<option value="3">AMM_EXTRA_COLUMN</option>
		</field>
		<field name="show_switch" type="radio" class="btn-group btn-group-yesno" default="0" label="AMM_SHOW_SWITCH" description="AMM_SHOW_SWITCH_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_extra" type="radio" class="btn-group btn-group-yesno" default="0" label="AMM_SHOW_EXTRA_FIELDS"
			   description="AMM_SHOW_EXTRA_FIELDS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@toggler_extra_a" type="nn_toggler" param="show_extra" value="1" />
		<field name="extra1" type="text" class="input-large input-maximize" default="" label="AMM_EXTRA_FIELD_LABEL" description="AMM_EXTRA_FIELD_LABEL_DESC" />
		<field name="extra2" type="text" class="input-large input-maximize" default="" label="AMM_EXTRA_FIELD_LABEL" description="AMM_EXTRA_FIELD_LABEL_DESC" />
		<field name="extra3" type="text" class="input-large input-maximize" default="" label="AMM_EXTRA_FIELD_LABEL" description="AMM_EXTRA_FIELD_LABEL_DESC" />
		<field name="extra4" type="text" class="input-large input-maximize" default="" label="AMM_EXTRA_FIELD_LABEL" description="AMM_EXTRA_FIELD_LABEL_DESC" />
		<field name="extra5" type="text" class="input-large input-maximize" default="" label="AMM_EXTRA_FIELD_LABEL" description="AMM_EXTRA_FIELD_LABEL_DESC" />
		<field name="@toggler_extra_b" type="nn_toggler" />
		<field name="use_admin_from_frontend" type="radio" class="btn-group btn-group-yesno" default="0" label="AMM_USE_ADMIN_FROM_FRONTEND"
			   description="AMM_USE_ADMIN_FROM_FRONTEND_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="initialise_event" type="radio" class="btn-group btn-group-yesno" default="onAfterInitialise" label="NN_INITIALISE_EVENT"
			   description="NN_INITIALISE_EVENT_DESC">
			<option value="onAfterInitialise">onAfterInitialise</option>
			<option value="onAfterRoute">onAfterRoute</option>
		</field>
		<field name="show_update_notification" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_SHOW_UPDATE_NOTIFICATION"
			   description="NN_SHOW_UPDATE_NOTIFICATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_copyright" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_SHOW_COPYRIGHT" description="NN_SHOW_COPYRIGHT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="extra" label="NN_SHOW_ASSIGNMENTS">
		<field name="@show_assignto_menuitems" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_MENU_ITEMS" description="JOPTION_REQUIRED">
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_homepage" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_HOME_PAGE"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_date" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_DATE_TIME"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_usergrouplevels" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_USER_GROUP_LEVELS"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_users" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_USERS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_languages" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_LANGUAGES"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_ips" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_IPS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_geo" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_GEO" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_templates" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_TEMPLATES"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_urls" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_URL" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_os" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_OS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_browsers" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_BROWSERS"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_components" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_COMPONENTS"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_tags" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_TAGS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_content" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_JCONTENT"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_easyblog" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_EASYBLOG"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_flexicontent" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_FLEXICONTENT"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_form2content" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_FORM2CONTENT"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_k2" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_K2" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_zoo" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_ZOO" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_akeebasubs" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_AKEEBASUBS"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_hikashop" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_HIKASHOP"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_mijoshop" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_MIJOSHOP"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_redshop" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_REDSHOP"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_virtuemart" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_VIRTUEMART"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_cookieconfirm" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_COOKIECONFIRM"
			   description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_assignto_php" type="radio" class="btn-group btn-group-yesno" default="1" label="NN_PHP" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="notice_permissions" label="JCONFIG_PERMISSIONS_LABEL">
		<field name="@notice_rules" type="note" class="alert alert-info" description="AMM_USE_CORE_RULES" />
	</fieldset>
</config>
